@use './variables' as *;
// @import "~bootstrap/scss/bootstrap";
@forward './components/footer';
@forward './components/btn';
@forward './components/card';
@forward './components/checkbox';

@font-face {
  font-family: 'Tajawal';
  src: url(/fonts/Tajawal-Regular.ttf);
  font-weight: 400;
}

html {
  --navbar-height: 90.59px;
  --hero-height: calc(100vh - var(--navbar-height));

  @media (max-width: 767px) {
    --navbar-height: 135.67px;
    --hero-height: calc(100vh - var(--navbar-height));
  }
}

body {
  font-family: 'Tajawal', 'Tahoma', sans-serif;

  pre {
    font-family: 'Tajawal', 'Tahoma', sans-serif !important;
    line-height: 2;
  }

  .bg-primary {
    background-color: $primaryColor !important;
  }

  .text-primary {
    color: var(--mainColor) !important;
  }

  .text-secondary {
    color: var(--secondaryColor) !important;
  }

  .text-start {
    text-align: start !important;
  }

  .text-gray {
    color: #ACACAC;
  }

  .font-bold {
    font-weight: bold;
  }

  .font-semibold {
    font-weight: 600;
  }

  hr {
    border-top-color: #aaaaaa;
  }

  .solid-select {
    border: none;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #000;
  }

  @media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1280px;
    }
  }

  @media (min-width: 1280px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1480px;
    }
  }
}

.reveal {
  @for $i from 1 through 15 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 150}ms;
    }
  }
}

.reveal {
  opacity: 0;
  visibility: hidden;
}
.slide-up {
  animation: slide-up 0.6s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
} 

.navbar__inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 300ms ease-in-out;

  // .btn-menu {
  //   color: $white;
  // }

  .nav-link {
    color: $black;
    transition: all 200ms ease-in-out;

    &:hover,
    &.active {
      color: var(--mainColor) !important;
    }

    @media (min-width: 992px) {
      min-height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
    }
  }

  &--fixed {
    background-color: #FFF !important;
    color: #000 !important;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.05);

    .btn-menu--color {
      color: var(--mainColor);
    }
  }

  @media screen and (max-width: 580px) {
    .logo {
      width: 160px !important;
    }
  }
}

.navbar-menu {
  .nav-link {
    @media (min-width: 1350px) {
      padding-right: 20px !important;
      padding-left: 20px !important;
    }
  }

  @media screen and (max-width: 1199px) {
    position: absolute;
    top: 45%;
    left: calc(50% - 1rem);
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 400px;
    max-width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
    min-height: 75vh;
    padding: 0 0 20px 0;
    background-color: $white;
    flex-direction: column !important;
    border-radius: 18px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
    color: #fff;
    visibility: hidden;
    opacity: 0;

    .link-with-menu {
      .sub-menu {
        height: 400px;
        max-width: 100%;
      }
    }

    &.active {
      top: 50%;
      visibility: visible;
      opacity: 1;

      @media screen and (max-width: 480px) {
        top: 0 !important;
        transform: translate(-50%, 0) !important;
        height: calc(100% - 75px);
        border-radius: 0;
        transition-delay: 200ms;
      }
    }

    &__head {
      margin-bottom: 2rem;
      padding: 1rem 1.3rem;
      // border-bottom: 1px solid #EAECF0;
    }

    &__overlay {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9999;
      width: 100%;
      height: 100%;
      background: var(--accentColor);
      backdrop-filter: blur(8px);
      visibility: hidden;
      opacity: 0;
      transition: all 300ms ease-in-out;

      &.active {
        visibility: visible;
        opacity: 1;
      }
    }

    .nav-link {
      padding: 1rem 1.3rem !important;
      color: #101828;
      font-weight: 600;

      &:hover,
      &.active {
        color: #101828;
        background-color: var(--accentColor);
      }
    }
  }

}

.link-with-menu {
  position: relative;
  transition: all 300ms ease-in-out;

  .sub-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
    width: 700px;
    height: 400px;
    overflow-y: auto;
    // max-width: max-content;
    // max-height: 100%;
    padding: 2rem 2rem 0 2rem;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 300ms ease-in-out;
    color: $black;

    &::-webkit-scrollbar {
      width: 5px;
    }
    
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    &::-webkit-scrollbar-thumb {
      background: var(--mainColor);
    }

    &__heading {
      font-size: 1rem;
      font-weight: 600;
    }
  
    &__list {
      margin: 0;
      padding: 0;
      margin-bottom: 2rem;

      &>li {
        padding-right: 15px;
      }
      
      a {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        color: #7E7E7E;
        font-weight: 300;
        font-size: 0.85rem;
        transition: 200ms ease-in-out;

        &:hover {
          color: var(--mainColor);
        }
      }

      ul {
        padding-right: 15px;
      }
    }

    .row>div {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }

    a {
      display: inline-block;
      text-decoration: none;
    }

    .brands-list {
      a {
        display: block;
        height: 50px;
        padding: 5px;
        border: 1px solid transparent;
        background-color: #F6F6F6;
        transition: 300ms ease-in-out;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &:hover {
          border-color: var(--mainColor);
        }
      }
    }
  }

  &.active {
    background-color: #3E3E3E;
    color: $white;

    .sub-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  
}

.navbar__inner .link-with-menu.active {

  .nav-link {
    color: inherit !important;
  }

}

.hero-header {
  position: relative;
  min-height: var(--hero-height);
 
}

.main__container {
  max-width: 1250px;
}

.hero-slider {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: var(--hero-height);
  overflow: hidden;

  .inner-reveal {
    @for $i from 1 through 15 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * 150}ms !important;
      }
    }
  }

  .inner-reveal {
    opacity: 0;
    visibility: hidden;
  }

  .slick-slide.slick-current .inner-reveal {
    animation: slide-up 0.6s cubic-bezier(0.65, 0, 0.35, 1) both;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }

  &__grid {
    height: var(--hero-height);
    display: flex;
    align-items: center;

    @media (max-width: 991px) {
      justify-content: center;
    }
  }

  &__content {
    position: relative;
    z-index: 4;
    color: $white;

    @media (max-width: 991px) {
      text-align: center;
    }
  }

  &__title {
    position: relative;
    max-width: 600px;
    margin-bottom: 2.5rem;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -20px;
      width: 115px;
      height: 5px;
      background-color: var(--mainColor);

      @media (max-width: 991px) {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__text {
    max-width: 600px;
    margin-bottom: 2rem;
    line-height: 2.5rem;
  }
}

.transition-all {
  transition: all 300ms ease-in-out;
}

/*
  medico Page
*/

.medico-page {
  --mainColor: #00A9A7;
  --secondaryColor: #252525;
  --accentColor: rgba(0, 169, 167, 0.08);
  --overlay: linear-gradient(180deg, rgba(30, 41, 99, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
  color: $black;
}

.navbar-padding-top {
  padding-top: var(--navbar-height);
}

.partners-slider {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 125px;
      height: 100px;
      object-fit: contain;
      filter: grayscale(100%);
    }
  }
}

.section-space {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media screen and (max-width: 580px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.heading {

  &__title {
    margin-bottom: 1.5rem;
    line-height: 47.43px;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    color: #444444;

    @media screen and (max-width: 580px) {
      font-size: 1.6rem;
    }
  }

  &__subtitle {
    max-width: 800px;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 37.4px;
  }
}

.page-section-title {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}

.our-golas {

  &__grid-container {
    @media screen and (max-width: 767px) {
      width: 100%;
      overflow: hidden;
      overflow-x: auto;

      &::-webkit-scrollbar {
        height: 5px;
      }
    
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    
      &::-webkit-scrollbar-thumb {
        background: var(--secondaryColor);
        border-radius: 5px;
      }

      &>.row {
        margin: 0;
        // flex-wrap: nowrap;
        width: calc(325px * 3);
      }
      
    }

    @media screen and (max-width: 580px) {
      .our-golas__grid-col {
        padding: 0;
      }

      .goals-card {
        align-items: center;
        padding: 0.75rem;
        // gap: 20px;

        &__text {
          font-size: 0.8rem;
          line-height: 1.6;
        }
      }

    }
  }
}

.service-card {
  position: relative;
  display: flex;
  width: 389px;
  max-width: 100%;
  height: 490px;
  border-radius: 25px;
  overflow: hidden;

  @media screen and (max-width: 991px) {
    height: 420px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(8, 5, 0, 0.70);
  }

  &__img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__content {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $white;
    transition: all 400ms ease-in-out;
    // top: 100%;
  }

  &__footer {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease-in-out;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 1.56rem;
  }

  &__text {
    font-size: 0.95rem;
  }

  &:hover {
    .service-card {
      &__content {
        bottom: 0 !important;
      }

      &__footer {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.services-slider {
  &__controls {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__pagination {
    display: flex;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 40px;
      height: 5px;
      border-radius: 3px;
      background-color: #98A2B3;

      @media screen and (max-width: 580px) {
        width: 25px !important;
      }
  
      &.swiper-pagination-bullet-active {
        background-color: var(--mainColor);
      }
    }
  }

  &__next {
    width: 141px;
    height: 46px;
    border-radius: 25px;
    border: 1px solid var(--mainColor) !important;
    color: var(--mainColor) !important;

    @media screen and (max-width: 580px) {
      width: 50px;
      height: 28px;
      padding: 0;

      svg {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__prev {
    width: 141px;
    height: 46px;
    border-radius: 25px;
    border: 1px solid var(--mainColor) !important;
    color: var(--mainColor) !important;

    @media screen and (max-width: 580px) {
      width: 50px;
      height: 28px;
      padding: 0;

      svg {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }
  }

  .service-card:hover {
    cursor: pointer;
  }

  .swiper-slide-active {
    .service-card {
      &__content {
        bottom: 0 !important;
      }

      &__footer {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.our-projects {
  background: rgba(220, 164, 92, 0.05);

}

.projects-slider {

  &__pagination {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
  
    .swiper-pagination-bullet {
      width: 40px;
      height: 5px;
      border-radius: 3px;
      background-color: #98A2B3;

      @media screen and (max-width: 580px) {
        width: 25px !important;
      }

      &.swiper-pagination-bullet-active {
        background-color: var(--mainColor);
      }
    }
  }
}

.project-card {
  display: flex;
  position: relative;
  width: 199.964px;
  max-width: 100%;
  height: 425px;
  border-radius: 18px;
  overflow: hidden;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  //   background: rgba(8, 5, 0, 0.70);
  // }
  @media (max-width: 1199px) {
    height: 340px;
  }

  @media (max-width: 991px) {
    height: 300px;
  }

  &__details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 0.5rem;
    z-index: 1;
    background: rgba(8, 5, 0, 0.70);
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.6;
    color: var(--mainColor);
    font-weight: 600;
    visibility: hidden;
    opacity: 0;
    transform: translateY(25px);
    transition: all 300ms 200ms ease-in-out;
  }

  &__text {
    font-size: 0.75rem;
    text-align: justify;
    visibility: hidden;
    opacity: 0;
    transform: translateY(25px);
    transition: all 300ms 200ms ease-in-out;
  }

  &__img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__count {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    background: #FFF;
    color: var(--mainColor);
    z-index: 3;
    transition: all 300ms ease-in-out;

    @media screen and (max-width: 1200px) {
      width: 30px;
      height: 30px;
      font-size: 1rem;
    }

    @media screen and (max-width: 580px) {
      width: 40px;
      height: 40px;
      font-size: 1.3rem;
    }
  }

  // &:hover .project-card {
  //   &__details {
  //     visibility: visible;
  //     opacity: 1;
  //   }
  
  //   &__title,
  //   &__text {
  //     visibility: visible;
  //     opacity: 1;
  //     transform: translateY(0);
  //   }

  //   &__count {
  //     visibility: hidden;
  //     opacity: 0;
  //     transform: translateY(100%);
  //   }
  // }
}

.raqamaya-service-card {
  text-decoration: none;
  color: #000;
  cursor: pointer;

  &__body {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 60px;
    padding: 10px;
    transition: all 300ms ease-in-out;
  }

  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    color: $white;
    transition: all 300ms ease-in-out;
  }

  &__title {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 27.2px;
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 580px) {
    .raqamaya-service-card {
      &__body {
        gap: 10px;
        border-radius: 40px;
        padding: 5px;
      }
    
      &__img {
        width: 40px;
        height: 40px;

        svg {
          width: 25px;
          height: 25px;
        }
      }

      &__title {
        font-size: 0.75rem;
        font-weight: 300;
        margin-bottom: 0;
        line-height: 1.6;
      }
    }
  }

  &:hover,
  &.active {
    .raqamaya-service-card {
      &__body {
        background-color: var(--mainColor);
        color: $white;

      }

      &__img {
        background-color: $white;
        color: var(--mainColor);
      }
    }
  }
}

.form-control {
  border-radius: 8px;
  border: 1px solid #F5F5F5;
  background-color: #FAFAFA;

  &:not(textarea) {
    height: 55px;
  }

  &::placeholder {
    color: #A3A3A3;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
  }

  &:focus {
    box-shadow: none;
    border-color: var(--mainColor);
  }
}

// our-partners
.our-partners {

  &__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 580px) {
      flex-wrap: nowrap;
      width: calc(var(--rows_count) * 230px);
      padding: 0 1rem 1rem 1rem;

      &-container {
        
        overflow: hidden;
        overflow-x: auto;

        &::-webkit-scrollbar {
          height: 5px;
        }
      
        &::-webkit-scrollbar-track {
          background: transparent;
        }
      
        &::-webkit-scrollbar-thumb {
          background: var(--secondaryColor);
          border-radius: 5px;
        }
      
        &.zimam-qwa-page::-webkit-scrollbar-thumb {
          background: var(--mainColor, #000);
        }
      }
    }
  }

  &__col {
    width: 214px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #F2F2F2;

    img {
      object-fit: contain;
      filter: grayscale(100%);

      @media screen and (max-width: 580px) {
        width: 200px;
      }
    }
  }
}

// contact
.contact {

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .zimam-btn {
    gap: 50px;
  }
}

.latest-products-slider {

  .slick-slide {
    padding-right: 10px;
    padding-left: 10px;
  }

  .slick-dots {
    bottom: -40px;

    li {
      width: 75px;
      height: 6px;
      margin: 0;
      background-color: rgba(106, 116, 120, 0.1);

      &:first-child {
        border-radius: 0 5px 5px 0;
      }

      &:last-child {
        border-radius: 5px 0 0 5px;
      }

      @media (max-width: 580px) {
        width: 25px;
      }
      
      button {
        width: 100%;
        height: 100%;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }

      &.slick-active {
        button::before {
          background-color: var(--mainColor);
        }
      }
    }
  }
}

body .add-to-cart-btn {
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 9999;
  width: 65px;  
  height: 65px;
  // border: 1px solid $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor);
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.15);

  &__content {
    position: relative;
  }

  &__count {
    display: inline-block;
    position: absolute;
    top: -11px;
    right: -11px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.7rem;
    background-color: $white;
    color: #CE0000;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(0, 169, 167, 0.8) !important;
    border: none !important;
  }
}

.bottom-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $white;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.05);
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #000;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  li {
    
  }

  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &__label {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &__input {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;

    &.form-control {
      height: 45px;
    }
  }
}

.shop-by-colors {
  position: relative;
  // overflow-x: auto;

  &::before {
    content: '';
    position: absolute;
    top: -8%;
    right: -75px;
    width: 200px;
    height: 200px;
    background: url(/imgs/right-circle.png) no-repeat center;
    background-size: contain;
    z-index: -1;

    @media (max-width: 580px) {
      top: -30%;
      right: -120px;
    }
  }

  &__grid-container {
    @media (max-width: 991px) {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 2rem;

      &::-webkit-scrollbar {
        height: 10px;
      }
      
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    
      &::-webkit-scrollbar-thumb {
        background: #000;
      }
    }
  }

  &__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 991px) {
      flex-wrap: nowrap;
      gap: 2rem;
      max-width: initial;
    }
  }

  &__color {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $white;
    transition: opacity 200ms ease-in-out;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    span {
      position: relative;
      z-index: 2;
    }

    &:hover {
      color: $white;
      opacity: 0.8; 
    }

    @media (max-width: 580px) {
      width: 120px;
      height: 120px;
    }
  }
}

.categories-section {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;

}

.brands-section {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 10%;
    left: -75px;
    width: 200px;
    height: 200px;
    background: url(/imgs/right-circle.png) no-repeat center;
    background-size: contain;
    z-index: -1;
  }

  &__slider {

    .slick-slide {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__brand {
    width: 375px;
    height: 130px;
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    background: #F6F6F6;

    @media (max-width: 480px) {
      height: 120px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.best-products-section {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;

}

.by-category-name {
  &__slider {
    transform: translateX(100px);

    @media (max-width: 1100px) {
      transform: none;
    }

    .slick-slide {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__container {
    position: relative;
    padding-left: 50px;

    @media (max-width: 1100px) {
      padding: 0;
    }
  }

  &__btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--mainColor);

    &:hover {
      background-color: var(--mainColor);
      opacity: 0.8;
    }

    @media (max-width: 580px) {
      width: 40px;
      height: 40px;
    }
  
    &-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50px;

      @media (max-width: 1100px) {
        top: -90px;
        left: 20px;
        transform: none;
      }

      @media (max-width: 580px) {
        top: -85px;
      }
    }
  }
}

.with-right-circle-shape {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 5%;
    right: -25px;
    width: 200px;
    height: 200px;
    background: url(/imgs/right-circle.png) no-repeat center;
    background-size: contain;
    z-index: -1;
  }
}

.category-cards-section {
   
  &__grid {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    grid-template-areas: "card-2 card-1"
                        "card-3 card-1";
    
    @media (max-width: 991px) {
      grid-template-areas:  "card-1"
                            "card-2"
                            "card-3";
    }
  }
   
   .card-1 {
      grid-area: card-1;
      background-color: #d0d9e6; ;
      
   }
   
   .card-2 {
    grid-area: card-2;
      background-color: #151127; 
      
   }
   
   .card-3 {
    grid-area: card-3;
      background-color: #2b4c81; 

      
   }
}

.main-banner {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 6rem;
  padding-bottom: 6rem;

  @media screen and (max-width: 580px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }

  &__body {
    position: relative;
    z-index: 3;
    padding: 2rem;
    color: $white;
  }

  @media (max-width: 991px) {
    text-align: center;
  }

  &__title {
    position: relative;
    max-width: 600px;
    margin-bottom: 2.5rem;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -20px;
      width: 115px;
      height: 5px;
      background-color: var(--mainColor);

      @media (max-width: 991px) {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }

  &__text {
    max-width: 650px;
    line-height: 2;
  }
}


.why-medico-section {
  position: relative;
  margin-bottom: 4rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
  background: rgba(246, 246, 246, 0.35);

  &::before {
    content: '';
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    background: url(/imgs/left-circle.png) no-repeat center;
    background-size: contain;
    z-index: -1;
  }

  &__heading {
    position: relative;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    font-size: 2rem;
    font-weight: 600;
    color: var(--mainColor);

    &::before {
      content: '';
      position: absolute;
      top: -25px;
      right: -75px;
      z-index: -1;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: rgba(0, 169, 167, 0.08);
    }
  }

  &__text {
    max-width: 700px;
    line-height: 1.8;
    font-size: 0.9rem;
  }

  &-card {

    &__icon {
      position: relative;
      display: inline-flex;
      margin-bottom: 1.5rem;

      &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: -30px;
        z-index: -1;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(0, 169, 167, 0.08);
      }
    }

    &__title {
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &__text {
      max-width: 700px;
      line-height: 1.8;
    }
  }
}

.gender-category-section {
  .info-card {
    height: 460px;

    @media (max-width: 580px) {
      height: 400px;
    }
  }
}

.category-cards-section {
  .info-card {
    height: 285px;

    &__title {
      font-size: 1.2rem;
    }

    &__text {
      font-size: 0.8rem;
    }
  }
}

.filter-page {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (max-width: 580px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__title {
    margin-bottom: 1.3rem;
    font-size: 2rem;
  }

  &__heading {
    position: relative;
    padding: 4rem 2rem;
    z-index: 2;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 580px) {
      padding: 2rem 1rem;
    }
  }

  &__bg-heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  &__categories-list {
    padding-top: 4rem;
    padding-bottom: 4rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 50px;

      @media (max-width: 767px) {
        gap: 25px;
        justify-content: center;
      }
    }

    a {
      display: inline-block;
      width: 130px;
      height: 130px;
      padding: 5px;
      border-radius: 50%;
      border: 2px solid transparent;
      background-color: #F1F1F1;
      transition: 300ms ease-in-out;

      @media (max-width: 767px) {
        width: 120px;
        height: 120px;
      }

      @media (max-width: 480px) {
        width: 100px;
        height: 100px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover {
        border-color: var(--mainColor);
      }
    }
  }

  // &__filters-head {
  //   position: sticky;
  //   top: 150px;
  // }

  &__body {
    display: flex;
    gap: 15px;
    padding-top: 20px;

    .filter {

      &-sidebar {
        position: sticky;
        top: 0;
        width: 350px;
        max-width: 100%;
        height: 100%;
        background-color: $white;
        border-left: 2px solid #ECECEC;
        overflow-y: auto;

        @media screen and (max-width: 991px) {
          position: fixed;
          top: 90px;
          right: -100%;
          height: calc(100vh - 90px);
          z-index: 99;
          padding-top: 1rem;
          transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

          &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 98;
            background: var(--accentColor);
            backdrop-filter: blur(8px);
            visibility: hidden;
            opacity: 0;
            transition: all 300ms ease-in-out;

            &.show {
              visibility: visible;
              opacity: 1;
            }
          }
          
          &.show {
            right: 0;
          }
        }

        @media screen and (max-width: 767px) {
          top: 145.5px;
          height: calc(100vh - 145.5px);
          padding-bottom: 80px;
        }

        @media screen and (max-width: 580px) {
          top: 135.5px;
          height: calc(100vh - 135.5px);
        }

        .accordion-button::after {
          margin-left: 0;
          margin-right: auto;
        }

        .accordion-item {
          border: none;
          margin-left: 1rem;
          border-radius: 0;

          &:not(:last-child) {
            border-bottom: 2px solid#EEEEEE;
          }
        }

        .accordion-button {
          font-weight: 600;
        }

        .accordion-button:not(.collapsed) {
          color: var(--bs-accordion-active-color);
          background-color: transparent;
          box-shadow: none;
        }

        .accordion-button:focus {
          box-shadow: none;
        }

        .accordion-body {
          // padding-right: 0;
          padding-left: 0;
        }
      }

      &-grid {
        width: calc(100% - 350px);

        @media screen and (max-width: 991px) {
          width: 100%;
        }
      }

      &__color-list {
        gap: 1rem;

        li {
          width: calc(50% - 0.5rem);
        }
      }
      
    }
  }
}

[dir=rtl] .breadcrumb {
  .breadcrumb-item+.breadcrumb-item::before {
    float: right;
    // padding-right: 0;
    padding-left: var(--bs-breadcrumb-item-padding-x);
  }

  .breadcrumb-item {
    &.active {
      color: $black;
    }

    a {
      text-decoration: none;
      color: #969696;
      font-size: 0.85rem;
    }
  }

}

.ui-slider.price-filter-range {
  .ui-slider-handle {
    width: 25px;
    height: 25px;
    top: -10px;
    border-radius: 50%;
    border-color: #FF9838;
    background-color: #FF9838;

    &>span {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      display: inline-flex;
      align-items: center;
      gap: 3px;
      color: #868686;

      small {
        font-size: 1rem;
      }
    }
  }

  .ui-widget-header {
    border-color: #FF9838;
    background: #FF9838;
  }

  &.ui-widget-content {
    border-color: #E5E5E5;
    background: #E5E5E5;
  }

  &.ui-slider-horizontal {
    height: 7px;
  }
}

.filter-sizes {
  column-gap: 8px;
  row-gap: 12px;

  .btn {
    position: relative;
    padding: 3px 12px;
    overflow: hidden;
    background-color: rgba(239, 239, 239, 0.28);

    input {
      display: none;
    }

    span {
      font-weight: 600;
      font-size: 1.1rem;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      z-index: 1;
    }

    .text {
      position: relative;
      z-index: 2;
    }

    input:checked + .bg {
      background-color: var(--mainColor);

      & + .text {
        color: $white;
      } 
    }
  }
}

// js tree
.jstree {
  .jstree-container-ul {
    li.jstree-node {
      position: relative;
      margin-bottom: 25px;

      &[aria-level="1"][aria-expanded="false"]:not(.jstree-last) {
        &::after {
          content: '';
          position: absolute;
          bottom: -100%;
          right: 10px;
          width: 2px;
          height: 25px;
          border-right: 1px dashed #C5C5C5;
        }
      }
  
      ul:not(.jstree-container-ul) {
        margin-top: 15px;
      }
  
      &.jstree-open {
        position: relative;
  
        &::after {
          content: '';
          position: absolute;
          top: 20px;
          right: 10px;
          width: 2px;
          height: calc(100% - 33px);
          border-right: 1px dashed #C5C5C5;
        }

        .jstree-children,
        .jstree-leaf {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            width: 100%;
            height: 2px;
            border-top: 1px dashed #C5C5C5;
          }
        }

        .jstree-leaf::before {
          right: -10px !important;
        }
  
      }
  
      .jstree-anchor {
        position: relative;
        background-color: $white;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 100%;
          width: 200%;
          height: 25px;
          background-color: $white;
          z-index: 1;
        }
      }
    }
  }

  .jstree-wholerow {
    display: none;
  }

  .jstree-icon:empty {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-left: 5px;
  }

  &.jstree-rtl .jstree-node:not([aria-level="1"]) {
    // padding-right: 24px;
    // margin: 0;
  }

  &.jstree-ltr .jstree-node:not([aria-level="1"]) {
    // padding-left: 24px;
    // margin: 0;
  }

  .jstree-themeicon {
    display: none;
  }

  &>.jstree-no-dots .jstree-closed>.jstree-ocl {
    background-position: center !important;
    background-image: url(/imgs/closed-list.svg);
  }

  &>.jstree-no-dots .jstree-open>.jstree-ocl {
    background-position: center !important;
    background-image: url(/imgs/opened-list.svg);
  }

  .jstree-anchor {
    line-height: 18px;
    height: 18px;
  }

  .jstree-icon.jstree-checkbox {
    position: relative;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #707070;
    background: none;
    margin-left: 5px;
    border-radius: 5px;

    // &::after {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 1;
    // }
  }

  &.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox, 
  .jstree-checked>.jstree-checkbox {
    background-color: var(--mainColor);
  }
}

.filter-category-container {
  overflow-x: hidden;

  // .jstree {
  //   overflow-x: auto;

  //   &::-webkit-scrollbar {
  //     height: 7px;
  //   }
    
  //   &::-webkit-scrollbar-track {
  //     background: #f1f1f1;
  //   }

  //   &::-webkit-scrollbar-thumb {
  //     background: #000;
  //   }
  // }
}