.product-counter {
    font-size: 1.3rem;
    font-weight: 600;

    .btn {
        width: 40px;
        height: 33px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: inherit;
        font-weight: inherit;
        border: 1px solid #E0E0E0;

        &.btn-increase {
            border-radius: 0 5px 5px 0;
        }

        &.btn-decrease {
            border-radius: 5px 0 0 5px;
        }
    }

    span {
        width: 40px;
        height: 33px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
    }
}